<html style="font-family:Verdana, Geneva, Tahoma, sans-serif">
    <head></head>
    <body style="background-color:#EDECED;margin: 0px 50px 0px 50px">
        <header style="background-color:#008B7D;height:64px;">
            <div style="float:left;padding-left:10px;"><img src="http://www.2doservices.com.br/images/logo_simples.png"/></div>
            <p style="padding-top:20px;padding-left:200px;color:white;font-size:20pt"> Recuperar senha</p>
        </header>
        <div style="padding-top: 20px;">
            <p style="color:#008B7D">
                Olá, [nome].
            </p>
            <p>Use a senha gerada abaixo para seu acesso</p>
            <p><span style="color:#008B7D; font-weight:bold">[senha]</span></p>
            <p>Esta senha deverá ser alterada.</p>
            <p>Até mais!</p>
            <p>Equipe 2do</p>
            <a style="text-decoration:none" href="www.2doservices.com.br/ajuda">Precisa de Ajuda?</a>
        </div>
    </body>
    <footer>
    </footer>
</html>